*{
	padding: 0;
	margin: 0;
}
body{
	background-image: url("images/bg-mobile.svg");
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	background-color:  hsl(257, 40%, 49%);
}
.logo{
	width: 30%;
	height: 5em;
}
.container{
	display: flex;
	flex-direction: column;
}
.illustration-mockups{
	margin: auto auto;
	width: 80%;
	height: 15em;
	padding-bottom: 1em;
}
article{
	color: white;
	font-weight: 400;
	display: flex;
	flex-direction: column;
}
h1{
	font-family: 'Poppins', Sans-serif;
	font-weight: 550;
	margin-top: 1.5em;
	margin-bottom: 1em;
	text-align: center;
	margin: auto auto;
	max-width: 13em;
	line-height: 1.7em;
	font-size: 1.7em;
}
p{
	padding-top: 1em;
	line-height: 1.8em;
	margin: auto;
	font-family: 'Open+Sans', Sans-serif;
	font-weight: 300;
	max-width: 20em;
	text-align: center;
	font-size: 1.2em;
}
.button{
	margin-top: 2em;
	display: flex;
	text-align: center;
}
button{
	margin: auto auto;
	font-family: 'Open+Sans', Sans-serif;
	background-color: white;
	color: purple;
	height: 40px;
	width: 70%;
	border-radius: 30px;
	border: none;
	font-size: 1em;
}
.sdc{
	display: flex;
}
.face{
	margin: auto;
	display: flex;
	margin-top: 2em
}

.fab{
	margin-right: 1em;
	font-size: 1em;
	border: 2px solid white;
	border-radius: 2em;
	padding: 0.4em;
	color: white;
}
.fab:first-child{
	padding: 0.4em 0.6em 0.4em 0.6em;
}



@media screen and (min-width: 375px){
	body{
		background-image: url(images/bg-desktop.svg);
		background-color: hsl(257, 40%, 49%);
		background-repeat: no-repeat;
		width: 100%;
	}
	.logo{
		all: unset;
		width: 13em;
		height: 8em;
		margin-left: 7%;
	}
	.illustration-mockups{
		all: unset;
		width: 50%;
		height: 70%;
		margin-top: 1em;
		margin-left: 3%;
	}
	.container{
		display: flex;
		flex-direction: row;
		padding-left: 50px;
	}
	article{
		color: white;
		font-weight: 400;
	}
	h1{
		all: unset;
		font-family: 'Poppins', Sans-serif;
		font-weight: 550;
		font-size: 3em;
		max-width: 12em;
		margin-left: 10%;
		margin-top: 2em;
		margin-bottom: 0.5em;
	}
	p{
		all: unset;
		padding-top: 0;
		font-family: 'Open+Sans', Sans-serif;
		font-size: 1.4em;
		font-weight: 300;
		max-width: 30em;
		margin-left: 10%;
		line-height: 1.5em;
	}
	.button{
		all: unset;
		padding-top: 20px;
		padding-left: 60px;
	}
	button{
		font-family: 'Open+Sans', Sans-serif;
		background-color: white;
		color: purple;
		height: 50px;
		width: 200px;
		border-radius: 30px;
		border: none;
		font-size: 1.2em;
	}
	.face{
		padding-left: 70%;
		display: flex;
	}
	.fab{
		all: unset;
		margin-right: 1em;
		font-size: 1.8em;
		border: 2px solid white;
		border-radius: 2em;
		padding: 0.4em;
		color: white;
	}
	.fab:first-child{
		padding: 0.4em 0.6em 0.4em 0.6em;
	}
}
